@page
@model Web_Application.Pages.OrderOverviewModel
@{
}
<section class="u-clearfix u-section-1" id="sec-1e15">
    <div class="u-clearfix u-sheet u-valign-top u-sheet-1">
        <div class="u-container-style u-custom-color-2 u-expanded-width u-group u-shape-rectangle u-group-1">
            <div class="u-container-layout u-valign-bottom u-container-layout-1">
                <a href="LogIn.html" class="u-border-2 u-border-grey-75 u-btn u-button-style u-custom-color-1 u-hover-palette-1-dark-1 u-btn-1">Order</a>
            </div>
        </div>
    </div>
</section>
